* {
  margin: 0px;
  padding: 0px;
}

#main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.row {
  display: flex;
  justify-content: center;
  height: 50%;
}

.djContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

@font-face {
  font-family: "UrbanMelted";
  src: local("UrbanMelted"), url("./fonts/UrbanMelted.ttf") format("truetype");
}

@font-face {
  font-family: "GangBangCrime";
  src: local("GangBangCrime"),
    url("./fonts/GangBangCrime.ttf") format("truetype");
}

@font-face {
  font-family: "PeintureFraiche";
  src: local("PeintureFraiche"),
    url("./fonts/PeintureFraiche.ttf") format("truetype");
}

.djName {
  font-family: UrbanMelted;
  font-size: 275px;
}

.djInstaHandle {
  font-family: UrbanMelted;
  font-size: 75px;
}

/* top left container */
.djTextTopLeft {
  animation: djTextTopLeftAnimation 60s infinite;
}

@keyframes djTextTopLeftAnimation {
  0% {
    color: #7734ea;
  }
  14.28% {
    color: #00a7ea;
  }
  28.56% {
    color: #8ae800;
  }
  42.84% {
    color: #faf100;
  }
  57.12% {
    color: #ffffff;
  }
  71.4% {
    color: #ffaa00;
  }
  85.68% {
    color: #ff0061;
  }
  100% {
    color: #7734ea;
  }
}

#topLeftContainer {
  animation: topLeftContainerAnimation 60s infinite;
}

@keyframes topLeftContainerAnimation {
  0% {
    background-color: #a7ea34;
  }
  14.28% {
    background-color: #ea4300;
  }
  28.56% {
    background-color: #5e00e8;
  }
  42.84% {
    background-color: #0009fa;
  }
  57.12% {
    background-color: #000000;
  }
  71.4% {
    background-color: #0055ff;
  }
  85.68% {
    background-color: #00ff9e;
  }
  100% {
    background-color: #a7ea34;
  }
}

/* top center container */
.djTextTopCenter {
  animation: djTextTopCenterAnimation 60s infinite;
}
@keyframes djTextTopCenterAnimation {
  0% {
    color: #00a7ea;
  }
  14.28% {
    color: #8ae800;
  }
  28.56% {
    color: #faf100;
  }
  42.84% {
    color: #ffffff;
  }
  57.12% {
    color: #ffaa00;
  }
  71.4% {
    color: #ff0061;
  }
  85.68% {
    color: #7734ea;
  }
  100% {
    color: #00a7ea;
  }
}

#topCenterContainer {
  animation: topCenterContainerAnimation 60s infinite;
}

@keyframes topCenterContainerAnimation {
  0% {
    background-color: #ea4300;
  }
  14.28% {
    background-color: #5e00e8;
  }
  28.56% {
    background-color: #0009fa;
  }
  42.84% {
    background-color: #000000;
  }
  57.12% {
    background-color: #0055ff;
  }
  71.4% {
    background-color: #00ff9e;
  }
  85.68% {
    background-color: #ff0061;
  }
  100% {
    background-color: #ea4300;
  }
}

/* top right container */
.djTextTopRight {
  animation: djTextTopRightAnimation 60s infinite;
}
@keyframes djTextTopRightAnimation {
  0% {
    color: #ffffff;
  }
  14.28% {
    color: #ffaa00;
  }
  28.56% {
    color: #ff0061;
  }
  42.84% {
    color: #7734ea;
  }
  57.12% {
    color: #00a7ea;
  }
  71.4% {
    color: #8ae800;
  }
  85.68% {
    color: #faf100;
  }
  100% {
    color: #ffffff;
  }
}

#topRightContainer {
  animation: topRightContainerAnimation 60s infinite;
}

@keyframes topRightContainerAnimation {
  0% {
    background-color: #000000;
  }
  14.28% {
    background-color: #0055ff;
  }
  28.56% {
    background-color: #00ff9e;
  }
  42.84% {
    background-color: #a7ea34;
  }
  57.12% {
    background-color: #ea4300;
  }
  71.4% {
    background-color: #5e00e8;
  }
  85.68% {
    background-color: #0009fa;
  }
  100% {
    background-color: #000000;
  }
}

/* bottom left container */
.djTextBottomLeft {
  animation: djTextBottomLeftAnimation 60s infinite;
}
@keyframes djTextBottomLeftAnimation {
  0% {
    color: #000000;
  }
  14.28% {
    color: #0055ff;
  }
  28.56% {
    color: #00ff9e;
  }
  42.84% {
    color: #a7ea34;
  }
  57.12% {
    color: #ea4300;
  }
  71.4% {
    color: #5e00e8;
  }
  85.68% {
    color: #0009fa;
  }
  100% {
    color: #000000;
  }
}

#bottomLeftContainer {
  animation: bottomLeftContainerAnimation 60s infinite;
}

@keyframes bottomLeftContainerAnimation {
  0% {
    background-color: #ffffff;
  }
  14.28% {
    background-color: #ffaa00;
  }
  28.56% {
    background-color: #ff0061;
  }
  42.84% {
    background-color: #7734ea;
  }
  57.12% {
    background-color: #00a7ea;
  }
  71.4% {
    background-color: #8ae800;
  }
  85.68% {
    background-color: #faf100;
  }
  100% {
    background-color: #ffffff;
  }
}

/* bottom center container */
.djTextBottomCenter {
  animation: djTextBottomCenterAnimation 60s infinite;
}
@keyframes djTextBottomCenterAnimation {
  0% {
    color: #ea4300;
  }
  14.28% {
    color: #5e00e8;
  }
  28.56% {
    color: #0009fa;
  }
  42.84% {
    color: #000000;
  }
  57.12% {
    color: #0055ff;
  }
  71.4% {
    color: #00ff9e;
  }
  85.68% {
    color: #ff0061;
  }
  100% {
    color: #ea4300;
  }
}

#bottomCenterContainer {
  animation: bottomCenterContainerAnimation 60s infinite;
}

@keyframes bottomCenterContainerAnimation {
  0% {
    background-color: #00a7ea;
  }
  14.28% {
    background-color: #8ae800;
  }
  28.56% {
    background-color: #faf100;
  }
  42.84% {
    background-color: #ffffff;
  }
  57.12% {
    background-color: #ffaa00;
  }
  71.4% {
    background-color: #ff0061;
  }
  85.68% {
    background-color: #7734ea;
  }
  100% {
    background-color: #00a7ea;
  }
}

/* bottom right container */
.djTextBottomRight {
  animation: djTextBottomRightAnimation 60s infinite;
}
@keyframes djTextBottomRightAnimation {
  0% {
    color: #a7ea34;
  }
  14.28% {
    color: #ea4300;
  }
  28.56% {
    color: #5e00e8;
  }
  42.84% {
    color: #0009fa;
  }
  57.12% {
    color: #000000;
  }
  71.4% {
    color: #0055ff;
  }
  85.68% {
    color: #00ff9e;
  }
  100% {
    color: #a7ea34;
  }
}

#bottomRightContainer {
  animation: bottomRightContainerAnimation 60s infinite;
}

@keyframes bottomRightContainerAnimation {
  0% {
    background-color: #7734ea;
  }
  14.28% {
    background-color: #00a7ea;
  }
  28.56% {
    background-color: #8ae800;
  }
  42.84% {
    background-color: #faf100;
  }
  57.12% {
    background-color: #ffffff;
  }
  71.4% {
    background-color: #ffaa00;
  }
  85.68% {
    background-color: #ff0061;
  }
  100% {
    background-color: #7734ea;
  }
}
