* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: backgroundAnimation 10s infinite;
}

@keyframes backgroundAnimation {
  0% {
    background-color: #a7ea34;
  }
  14.28% {
    background-color: #ea4300;
  }
  28.56% {
    background-color: #5e00e8;
  }
  42.84% {
    background-color: #0009fa;
  }
  57.12% {
    background-color: #000000;
  }
  71.4% {
    background-color: #0055ff;
  }
  85.68% {
    background-color: #00ff9e;
  }
  100% {
    background-color: #a7ea34;
  }
}

#main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

@font-face {
  font-family: "UrbanMelted";
  src: local("UrbanMelted"), url("./fonts/UrbanMelted.ttf") format("truetype");
}

.djText {
  font-family: UrbanMelted;
  animation: textAnimation 10s infinite;
}

#djName {
  font-size: 350px;
}

#djInstaHandle {
  font-size: 75px;
}

@keyframes textAnimation {
  0% {
    color: #7734ea;
  }
  14.28% {
    color: #00a7ea;
  }
  28.56% {
    color: #8ae800;
  }
  42.84% {
    color: #faf100;
  }
  57.12% {
    color: #ffffff;
  }
  71.4% {
    color: #ffaa00;
  }
  85.68% {
    color: #ff0061;
  }
  100% {
    color: #7734ea;
  }
}
